<table>
	<tr>
		<td>
			Número de preguntas:
		</td>
		<td>
			<%= stats.quizCount %>
		</td>
	</tr>
	<tr>
		<td>
			Número de comentarios:
		</td>
		<td>
			<%= stats.commentCount %>
		</td>
	</tr>
	<tr>
		<td>
			Número medio de comentarios:
		</td>
		<td>
			<%= stats.commentProm %>
		</td>
	</tr>
	<tr>
		<td>
			Número de preguntas sin comentarios:
		</td>
		<td>
			<%= stats.quizWithoutComments %>
		</td>
	</tr>
	<tr>
		<td>
			Número de preguntas con comentarios:
		</td>
		<td>
			<%= stats.quizWithComments %>
		</td>
	</tr>
</table>
